.kitchen {
  /* display: inline-block; */
}

.food-container {
  display: inline-block;
  width: 50%;
  border: 1px black solid;
  vertical-align: top;
}

.search-items {
  display: inline-block;
}

.search-term {
  display: inline-block
}

ul {
  list-style: none;
  text-align: left
}

ul button {
  margin: 10px;
}

li {
  border: 1px black solid
}
