.kitchen {

}
.search-term {
  display: inline-block;
  background-color: #9fdf9f;
  margin: 5px 5px;
  padding: 5px 10px
}

.search-items {
  padding: 20px;
  display: inline-block;
  list-style: none;
  text-align: center;
  height: 20px;
  width: 75%;
  line-height: 20px;
}

.recipe-search-button {
  margin: 20px;
  font-size: 14px
}

.recipe-search-info {
  padding: 30px 10px 10px;
  margin: 10px 0px;
  background: #fff6e6;
  /* background: url('../cocina.gif') repeat; */
  border-radius: 5px
}
