
.landing, .registration{
  width: 85%;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 10px 40px ;
  /* background: #c6ecc6; */
  border-radius: 5px;
}

header {
  padding: 10px;
  margin: 10px;
  /* border: 1px black solid; */
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.header h1, .header h3 {
  padding: 10px;
}

.login-form {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 50px;
  text-align: left;
  background-image:
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
  url('../form-image.jpg');
  color: white;
}

.demo-info {
  padding-top: 15px;
  font-size: 14px
}

.form-error {

  color: white;
  font-size: 14px
}

@media only screen and (max-width: 768px) {

  .landing, .header, .login-form, .registration {
  	width: 90%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .login-form {
    padding: 20px;
    text-align: center;

  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px)
and (max-device-width : 768px) {
/* Styles */
  .landing, .header, .login-form, .registration {
  	width: 90%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .login-form {
    padding: 20px;
    text-align: center;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and
(max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
  .landing, .registration{
    width: 75%;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px 40px ;
    background: white;
    border-radius: 5px;
  }

}
