.nav-bar {
	background-color: #e24e42;
	text-align: left;
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  font-size: 14px;
	height: 110px
}

.nav-bar button {
	margin: 10px;
}

.nav-buttons {
	padding-top: 10px;
	vertical-align: bottom;
	width: 100%;
	float: left;
	display: inline-block;
}

.home-button, .to-recipes-button, .logout-button{
	display: inline-flex;
}

.home-button {
	color: white;
	font-size: 26px;
	display: inline-flex;
	margin: 20px 0px 20px 10px;
	padding: 10px;
	float:left;
}

.to-recipes-button, .logout-button {
	float: right;
	height: 40px;
}

.home-button:hover{
	color: #009999;
}

.title {
	font-family: 'Bungee Shade', cursive;
	padding: 0px
}

.clearfix:after {
	clear: both
}

@media only screen and (max-width: 530px) {
	.home-button {
		font-size: 12px;
		padding-top: 20px;
	}

	.logout-button, .to-recipes-button {
		font-size: 12px;
		padding: 5px
	}
}

@media only screen and (max-width: 600px) {
	.clearfix:after {
		clear: both
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px)
and (max-device-width : 768px) {
/* Styles */

	.home-button {
		font-size: 12px;
		padding-top: 20px;
	}

	.logout-button, .to-recipes-button {
		font-size: 10px;
		height: 30px;
	}


}


/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and
(max-device-width : 1024px) and (orientation : portrait) {
/* Styles */

}
