.new-item-form label {
  /* border: 1px black solid; */
  padding: 0
}

.new-item-form {
  padding: 20px;
  /* background: url('../cocina.gif') repeat; */

}

.form-input {
  padding: 10px 0px 15px;
  /* border: 1px white solid */
}

input {
  padding: 10px;
  width: 250px;
  max-width: 85%;
}
